.playing {
	background: rgb(110, 110, 110);
}
.player {
	width: 500px;
	height: 300px;
	border: 2px groove gray;
	background: rgb(200, 200, 200);
	text-align: center;
	position: relative;
}
.playing .player {
	background: rgb(220, 200, 200);
}
.controls {
	position: absolute;
	bottom: 0;
}
/* TODO load from jquery.ui.popup.css */
.ui-popup {
	position: absolute;
	z-index: 5000;
}
.ui-tooltip {
	border: 1px solid white;
	background: rgba(20, 20, 20, 1);
	color: white;
}
.set {
	display: inline-block;
}
.notification {
	position: absolute;
	display: inline-block;
	font-size: 2em;
	padding: .5em;
	box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
}
.playlist {
	position: absolute;
	top: 0;
	left: 550px;
}
.playlist ul {
	padding: 0;
	list-style: none;
}
.playlist li {
	border: 1px solid black;
	border-radius: 4px;
	height: 3em;
	width: 15em;
	margin-bottom: 1em;
	padding: 0.5em;
	position: relative;
}
.playlist li:hover .handle {
	display: inline;
}
.playlist .handle {
	border: 5px dotted black;
	position: absolute;
	right: 0;
	top: 0;
	height: 2em;
	display: none;
}
.playlist a {
	text-decoration: none;
	display: block;
	height: 3em;
}
